@import "./reset.css";
@import "./cabecalho.css";
@import "./introducao.css";

:root {
  --c1: #f5f7fa;
  --c2: #e6eaf0;
  --c4: #c0c5cc;
  --c6: #989ea6;
  --c11: #242833;
  --c12: #0b0c12;
  --a1: #a4daf9;
  --a2: #8ec0ee;
  --a4: #6c96d4;
  --a10: #051936;
  --figtree: "Figtree", sans-serif;
}

body {
  background-color: var(--c12);
  font-family: var(--figtree);
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  padding: 0 4%;
}

.link-externo {
  color: var(--a1);
  text-decoration: underline;
}
