.contato {
  margin-top: 7.5rem;
}

.contato .subtitulo {
  text-align: center;
}

.contato__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contato__texto {
  color: var(--c6);
  max-width: 36ch;
  line-height: 1.5;
  font-size: 1.5rem;
}

.contato__lista {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.contato__lista li {
  display: flex;
  justify-content: end;
}
.contato__lista li a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 2rem;
  color: var(--c4);
  text-transform: uppercase;
  text-decoration: underline;
}
