.contato {
  margin-top: 7.5rem;
}

.contato .subtitulo {
  text-align: center;
}

.contato__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contato__texto {
  color: var(--c6);
  width: 100%;
  line-height: 1.5;
  font-size: 1.5rem;
}

.contato__lista {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.contato__lista li {
  display: flex;
  justify-content: end;
}
.contato__lista li a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--c4);
  text-transform: uppercase;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .contato__grid {
    gap: clamp(5rem, 1em + 3vw, 8rem);
  }
}

@media screen and (max-width: 768px) {
  .contato__texto {
    line-height: 1.4;
    font-size: 1rem;
  }

  .contato__lista li a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .contato {
    margin-top: 3rem;
  }

  .contato__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contato__lista li a {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.5rem;
    color: var(--c4);
    text-transform: uppercase;
    text-decoration: underline;
  }
}
