.formacao-cursos {
  margin-top: 7.5rem;
  display: flex;
  gap: 8rem;
  justify-content: space-around;
}

.formacao__texto {
  max-width: 60ch;
  color: var(--c6);
  line-height: 1.4;
  margin-bottom: 1.25rem;
}

.formacao__idiomas {
  margin-top: 2rem;
}

.formacao__idiomas-titulo {
  display: flex;
  gap: 1rem;
  color: var(--c4);
  font-weight: 600;
  text-transform: uppercase;
  align-items: center;
}

.formacao__idiomas-textos {
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  margin-top: 1.25rem;
}

.formacao__idiomas-texto {
  color: var(--c2);
}

.formacao__idiomas-texto span {
  color: var(--c6);
}

@media screen and (max-width: 1024px) {
  .formacao-cursos {
    gap: clamp(5rem, 1em + 3vw, 8rem);
  }
}

@media screen and (max-width: 768px) {
  .formacao-cursos {
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
