.projetos {
  margin-top: 7.5rem;
}

.projetos__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.projetos__card {
  background-color: var(--a10);
  border-radius: 5px;
}

.projetos__img {
  display: block;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.projetos__detalhes {
  padding: 1.25rem;
}

.projetos__detalhes-titulo {
  color: var(--a1);
  display: flex;
  gap: 0.625rem;
  align-items: center;
  text-transform: uppercase;
}

.projetos__detalhes-texto {
  color: var(--a4);
  line-height: 1.4;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .projetos__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
