.sobre-mim-tecnologias {
  margin-top: 7.5rem;
  display: flex;
  gap: 8.75rem;
  justify-content: space-around;
}

.sobre-mim {
  max-width: 60ch;
}

.sobre-mim .sobre-mim__texto {
  color: var(--c6);
  line-height: 1.4;
  margin-bottom: 1.25rem;
}
