@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::selection {
  color: #5DE4C7;
  background: #303340;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #303340;
}

::-webkit-scrollbar-thumb {
  background-color: #767C9D;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #A6ACCD;
}

.active {
  color: #5DE4C7;
  border: 1px solid #5DE4C7;
}

@media screen and (max-width: 640px) {

  .right {
    height: auto;
    width: 100%;
    align-items: center;
  }

  .mobileContent {
    display: block;
  }


}