#contact {
    margin-top: 128px;
}

#contact h2 {
    color: var(--color-white);
    margin-bottom: 32px;
}

#contact p {
    color: var(--color-primary);
}

.contact-texts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}