#education {
  ul {
    margin-top: 24px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;

    li {
      .education-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font: var(--subtitle);
          color: var(--primary-color);
        }

        time {
          font: var(--text-sm);
          color: var(--accent-color);
        }
      }

      p {
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 750px) {
  #education {
    ul {
      li {
        .education-header {
          flex-direction: column;
          gap: 8px;
          align-items: flex-start;
        }
      }
    }
  }
}