#experience {
  ul {
    margin-top: 24px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;

    li {
      .experience-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font: var(--subtitle);
          color: var(--primary-color);
        }

        time {
          font: var(--text-sm);
          color: var(--accent-color);
        }
      }

      span {
        font: var(--subtitle);
        color: var(--accent-color);
      }

      p {
        margin-top: 16px;
      }
    }

    .experience-details {
      list-style-type: disc;
      list-style-position: inside;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        p {
          display: inline;
        }
      }
    }
  }
}