:root {
    --font: "Gabarito", sans-serif;
    --color-primary: #DEDCCB;
    --color-secondary: #0E333F;
    --color-accent: #37C6FC;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: var(--color-accent);
}

body {
    color: var(--color-primary);
    font-family: var(--font);
    background-color: var(--color-secondary);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.accent-color {
    color: var(--color-accent);
}

h2 {
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -0.03rem;
}