html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

:root {
    --font: "Outfit", sans-serif;
    --font-title: "Darker Grotesque", sans-serif;
    --border-radius: 4px;
    --color-background: #18181b;
    --color-primary: #f4f4f5;
    --color-secondary: #a1a1aa;
    --color-tertiary: #1b1b1f;
    --color-icons: #71717a;
    --color-line: #27272c;
    --color-white: #fff;
    --color-black: #000;
}

body {
    font-family: var(--font);
    background-color: var(--color-black);
    color: var(--color-primary);
}

main,
footer {
    background-color: var(--color-background);
    max-width: 1160px;
    margin: 0 auto;
    border-left: 1px solid var(--color-secondary);
    border-right: 1px solid var(--color-secondary);
}

section {
    padding: clamp(15%, 10vw, 128px) clamp(4%, 6vw, 100px);
    border-bottom: 1px solid var(--color-secondary);
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

p,
mark,
strong {
    line-height: 150%;
}

mark {
    background-color: transparent;
}

img {
    display: block;
    width: 100%;
}

.title {
    font-family: var(--font-title);
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 800;
}

.subtitle {
    margin-top: 24px;
    font-family: var(--font);
    font-size: clamp(1rem, 3vw, 1.125rem);
    color: var(--color-secondary);
}

.title,
.subtitle {
    max-width: 460px;
}

.rounded {
    border-radius: 50%;
}

.outer-circle {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 1160px) {

    main,
    footer {
        border: none;
    }
}

@media screen and (max-width: 500px) {
    .outer-circle {
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
    }

    .inner-circle {
        width: 24px;
        height: 24px;
    }
}