#hero {
    min-height: 90dvh;
    display: flex;
    flex-direction: column;
    gap: clamp(48px, 10vw, 128px);
}

.hero-profile {
    display: flex;
    gap: 16px;
}

.hero-img {
    width: 140px;
    height: 140px;
}

.hero-profile-info {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: clamp(3rem, 7vw, 7rem);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

.hero-description {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
}

.hero-info {
    display: flex;
    gap: 64px;
}

.hero-info-nav, .hero-info-text {
    width: 50%;
}

.hero-info-nav ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-info-nav ul > li {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 600;
    text-transform: uppercase;
}

.hero-info-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: var(--color-white);
}

@media (width < 768px) {
    .hero-profile {
        flex-direction: column;
    }

    .hero-info {
        flex-direction: column-reverse;
    }

    .hero-info-nav, .hero-info-text {
        width: 100%;
    }
}