#side-projects {
  #side-projects-list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 24px;
    list-style-type: none;

    li {
      a {
        border: 1px solid var(--accent-color);
        padding: 24px 20px;
        border-radius: var(--default-radius);
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: var(--accent-color);
          color: var(--background-color);
        }

        h3 {
          font: var(--subtitle);
          color: var(--primary-color);
          position: relative;
        }

        h3::after {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          background-color: var(--accent-color);
          margin-left: 12px;
          vertical-align: middle;
          border-radius: 2px;
        }

        p {
          margin-top: 16px;
          color: var(--text-secondary);
        }
      }
    }
  }
}