@font-face {
  font-family: 'Getai';
  src: url('../fonts/DTGetaiGroteskDisplay-Black.ttf') format('truetype'),
    url('../fonts/DTGetaiGroteskDisplay-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: 'Getai';
}