.work-education {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 24px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.work-education__card {
    padding: 24px;
    border: 2px solid var(--color-line);
    border-radius: var(--border-radius);
}

.work-education__header {
    display: flex;
    gap: 12px;
}

.work-education__header ion-icon {
    font-size: 24px;
    color: var(--color-icons);
}

.work-education__title {
    font-weight: 600;
    font-size: 1.5rem;
}

.work-education__list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.list__item {
    display: flex;
    justify-content: space-between;
}

.item__content {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.item__content:first-child {
    flex-grow: 0;
}


.item__info {
    width: 100%;
}

.info__header {
    display: flex;
    justify-content: space-between;
}

.info__title {
    font-size: 1.125rem;
    font-weight: 500;
}

.info__description {
    margin-top: 4px;
    display: block;
    max-width: 30ch;
}

.info__description,
.info__date {
    color: var(--color-secondary);
}

@media screen and (max-width: 500px) {
    .item__content {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
    }

    .work-education {
        grid-template-columns: 1fr;
    }

    .info__header {
        flex-direction: column;
    }

    .info__date {
        margin-top: 4px;
    }
}